{% macro author(author, ip) %}

    <div class="row text-center">
        <img src="{{ author.avatar }}" alt="{{ author.displayname }}" class="avatar">
    </div>
    <div class="row text-center">
        {{ author.displayname }}
    </div>

    {% set geoip = geoip(ip) %}
    <div class="row text-center">
        <div class="small-12 columns">{{ ip }}</div>
        <div class="small-12 columns"><img src="{{ geoip.flag }}">&nbsp;{{ geoip.country }}</div>
    </div>

{% endmacro %}

{% macro topic(base_uri, forum, topic) %}
    {% if topic.visibility == 'normal' %}
        {% set class = topic.state %}
    {% else %}
        {% set class = topic.visibility %}
    {% endif %}

    {# Topic #}
    <div class="row topic {{ class }}" id="topic-{{ topic.forum }}-{{ topic.id }}">

        <div class="small-6 columns text-left topic-title">
            <p><a href="/{{ base_uri }}/{{ forum.slug }}/{{ topic.slug }}">{{ topic.title }}</a></p>
            <div>Posted by {{ topic.authorprofile.displayname }}</div>
            <div>{{ topic.datecreated|date('M j, Y H:i:s') }}</div>
        </div>

        <div class="small-2 columns text-center topic-replies">
            {{ topicreplycount(topic.id) }}
        </div>

        <div class="small-4 columns text-left topic-last-post">
            {% set lastpost = lastpost(topic) %}
            {%  if lastpost is not empty %}
                <div>{{ lastpost.datecreated|date('M j, Y H:i:s') }}</div>

                {% if lastpost.authorprofile is not empty %}
                    <div><img src="{{ lastpost.authorprofile.avatar }}" alt="{{ lastpost.authorprofile.displayname }}" class="avatar">&nbsp;{{ lastpost.authorprofile.displayname }}</div>
                {% endif %}
            {% endif %}
        </div>

    </div>

    {# Topic footer #}
    <div class="row topic-footer">
        <div class="small-12 columns"></div>
    </div>
{% endmacro %}