{% macro author(id, ip) %}
    {% set profile = clientprofile(id) %}
    {% if profile is not empty %}
        <div class="row text-center">
            <img src="{{ profile.avatar }}" alt="{{ profile.username }}" class="avatar">
        </div>
        <div class="row text-center">
            {{ profile.username }}
        </div>
    {% endif %}
    <div class="row text-center">{{ ip }}</div>
{% endmacro %}

{% macro topic(record) %}
    {% if record.visibility == 'normal' %}
        {% set class = record.state %}
    {% else %}
        {% set class = record.visibility %}
    {% endif %}

    {# Topic #}
    <div class="row topic {{ class }}" id="topic-{{ record.forum }}-{{ record.id }}">

        <div class="small-6 columns text-left topic-title">
            <p><a href="/{{ base_uri }}/{{ forum.slug }}/{{ record.slug }}">{{ record.title }}</a></p>
            <div>Posted by {{ record.author.username }}</div>
            <div>{{ record.datecreated|date('M j, Y H:i:s') }}</div>
        </div>

        <div class="small-2 columns text-center topic-replies">
            {{ topicreplycount(record.id) }}
        </div>

        <div class="small-4 columns text-left topic-last-post">
            {% set lastpost = lastpost(forum.id) %}
            {%  if lastpost is not empty %}
                <div>{{ forum.lastpost.datecreated|date('M j, Y H:i:s') }}</div>

                {% if lastpost.author is not empty %}
                    <div><img src="{{ lastpost.author.avatar }}" alt="{{ lastpost.author.username }}" class="avatar">&nbsp;{{ lastpost.author.username }}</div>
                {% endif %}
            {% endif %}
        </div>

    </div>

    {# Topic footer #}
    <div class="row topic-footer">
        <div class="small-12 columns"></div>
    </div>
{% endmacro %}