{#
 # Passed in variables:
 #   boltbb
 #     .title       - The BoltBB title of the forums site
 #     .description - The BoltBB description of the forums site
 #   forum
 #     .title       - Forum title
 #     .description - Forum's description tag
 #     .id          - Numeric ID of the forum
 #     .slug        - Forum slug
 #   topic
 #     .title       -
 #     .datecreated -
 #     .author      -
 #     .authorip    -
 #     .body        -
 #   replies        - Array
 #     .datecreated -
 #     .author      -
 #     .authorip    -
 #     .body        -
 #}
{% extends twigparent %}

{% block forums %}

    {% include '_messages.twig' %}
    {% import '_macro.twig' as element %}

    <div class="row topic-title">
        <h4>{{ topic.title }}</h4>

        {{ forumsbreadcrumbs(forum.id) }}
    </div>

    {# Only show the topic text if we're on the first page #}
    {% if (request('page') == 1) or (request('page') is empty) %}

    {# Topic #}
    <div class="row topic" id="topic-{{ forum.id }}-{{ topic.id }}">
        <div class="small-12 columns">

            {# Topic Header #}
            <div class="row topic-header">
                <div class="small-12 columns">
                    <div>Posted on {{ topic.datecreated|date('M j, Y H:i:s') }}</div>
                </div>
            </div>

            {# Topic content #}
            <div class="row topic-body">

                {# Author box #}
                <div class="small-3 columns author">
                    {{ element.author(topic.authorprofile, topic.authorip) }}
                </div>

                {# Body #}
                <div class="small-9 columns body">
                    {{ topic.body }}
                </div>

            </div>

            {# Topic footer #}
            <div class="row topic-footer">
                <div class="small-12 columns"></div>
            </div>

        </div>
    </div>

    {% endif %}

    {# Replies #}
    {% for reply in replies %}
    <div class="row reply" id="reply-{{ topic.id }}-{{ reply['id'] }}">
        <div class="small-12 columns">

            {# Reply Header #}
            <div class="row reply-header">
                <div class="small-12 columns">
                    <div>Posted on {{ reply.datecreated|date('M j, Y H:i:s') }}</div>
                </div>
            </div>

            {# Reply content #}
            <div class="row reply-body">

                <div class="small-3 columns author">
                    {{ element.author(reply.authorprofile, reply.authorip) }}
                </div>

                <div class="small-9 columns body">
                    {{ reply.body }}
                </div>

            </div>

            {# Reply footer #}
            <div class="row reply-footer">
                <div class="small-12 columns"></div>
            </div>
        </div>
    </div>
    {% endfor %}

    <hr>

    {{ pager() }}

    <div class="panel callout">
        {% if topic.state == 'open' %}
            <h4>Create a new reply</h4>

            {% if memberauth() %}
                {{ form_start(form) }}
                    {{ form_row(form.editor) }}
                    {{ form_row(form.author) }}
                    <br>
                    {{ form_widget(form.notify) }}
                    {{ form_label(form.notify) }}
                    <br>
                    {{ form_row(form.post) }}
                {{ form_end(form) }}
            {% else %}
                {{ displayauth(true) }}
            {% endif %}
        {% else %}
            <p>Conversation has been closed for this topic</p>
        {% endif %}
    </div>

    <hr>

{% endblock %}