{#
 # Passed in variables:
 #   boltbb
 #     .title       - The BoltBB title of the forums site
 #     .description - The BoltBB description of the forums site
 #   forum
 #     .title       - Forum title
 #     .description - Forum's description tag
 #     .id          - Numeric ID of the forum
 #     .slug        - Forum slug
 #     .state       - Either 'open' or 'closed'
 #  topic
 #     .title       -
 #     .author      -
 #     .datecreated -
 #     .slug        -
 #
 # Called variables
 #   lastpost       - Array of details on the last post in the forum
 #     .datecreated
 #     .author.displayname
 #     .author.avatar
 #     .author.email
 #}
{% extends twigparent %}

{% block forums %}

    {% include '_messages.twig' %}
    {% import '_macro.twig' as element %}

    <div class="row forum-title">
        <h4>{{ forum.title }}</h4>
        <h6>{{ forum.description }}</h6>

        {{ forumsbreadcrumbs(forum.id) }}
    </div>

    <div class="row forum">
        <div class="small-12 columns">

            <div class="row forum-header">
                <div class="small-6 columns text-center topic-title">Topic</div>
                <div class="small-2 columns text-center topic-replies">Replies</div>
                <div class="small-4 columns text-left topic-last-post">Last Post</div>
            </div>

            {% for topic in global %}
                {{ element.topic(base_uri, forum, topic) }}
            {% endfor %}

            {% for topic in pinned %}
                {{ element.topic(base_uri, forum, topic) }}
            {% endfor %}

            {% for topic in topics %}
                {{ element.topic(base_uri, forum, topic) }}
            {% endfor %}

            <hr>

            {{ pager() }}

        </div>
    </div>

    <div class="panel callout">
        {% if forum.state == 'open' %}
            <h4>Create a new topic in {{ forum.title }}</h4>

            {% if memberauth() %}
                {{ form_start(form) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.editor) }}
                    {{ form_row(form.author) }}
                    <br>
                    {{ form_row(form.post) }}
                {{ form_end(form) }}
            {% else %}
                {{ displaylogin(true) }}
            {% endif %}
        {% else %}
            <p>Conversation has been closed in this forum</p>
        {% endif %}
    </div>

{% endblock %}