{#
 # Passed in variables:
 #   boltbb
 #     .title       - The BoltBB title of the forums site
 #     .description - The BoltBB description of the forums site
 #   forum
 #     .title       - Forum title
 #     .description - Forum's description tag
 #     .id          - Numeric ID of the forum
 #     .slug        - Forum slug
 #     .state       - Either 'open' or 'closed'
 #
 # Called variables
 #   lastpost       - Array of details on the last post in the forum
 #     .datecreated
 #     .author.username
 #     .author.avatar
 #     .author.email
 #}
{% extends twigparent %}

{% block forums %}

    {% include '_messages.twig' %}

    <div class="row forums-title">
        <h4>{{ boltbb.title }}</h4>
        <h6>{{ boltbb.description }}</h6>

        {{ forumsbreadcrumbs() }}
    </div>

    {% for slug, forum in forums %}
        <div class="row forums">
            <div class="small-12 columns">

                {# Header Row #}
                <div class="row forum-header">
                    <div class="small-4 columns text-left forum-title">Forum</div>
                    <div class="small-2 columns text-center forum-posts">Posts</div>
                    <div class="small-2 columns text-center forum-replies">Replies</div>
                    <div class="small-4 columns text-left forum-last-post">Last Post</div>
                </div>

                {# Body Row #}
                <div class="row forum-body">

                    <div class="small-4 columns text-left forum-title">
                        <p><a href="/{{ base_uri }}/{{ slug }}">{{ forum.title }}</a></p>
                        <p><em>{{ forum.description }}</em></p>
                    </div>

                    <div class="small-2 columns text-center forum-posts">
                        {{ forumtopiccount(forum.id) }}
                    </div>

                    <div class="small-2 columns text-center forum-replies">
                        {{ forumreplycount(forum.id) }}
                    </div>

                    <div class="small-4 columns text-left forum-last-post">

                        {% set lastpost = lastpost(forum) %}
                        {%  if lastpost is not empty %}
                            <div>{{ lastpost.datecreated|date('M j, Y H:i:s') }}</div>

                            {% if lastpost.author is not empty %}
                                <div><img src="{{ lastpost.authorprofile.avatar }}" alt="{{ lastpost.authorprofile.username }}" class="avatar">&nbsp;{{ lastpost.authorprofile.username }}</div>
                            {% endif %}
                        {% endif %}
                    </div>

                </div>

                {# Footer Row #}
                <div class="row forum-footer">
                    <div class="small-12 columns"></div>
                </div>

            </div>
        </div>
    {% endfor %}

{% endblock %}