{# Page: NavSecondary > Extensions > BoltBB #}

{% extends "_base/_page-nav.twig" %}

{% block page_nav 'Extensions' %}

{% block page_title %}
{{ __('BoltBB') }}{% if boltbb %} — {{ boltbb.title }}{% endif %}
{% endblock page_title %}

{% block page_subtitle %}
{% if boltbb %}{{ boltbb.description }}{% endif %}
{% endblock page_subtitle %}

{% block page_main %}

    <div class="row boltbb-bolt-container">
        <div class="col-md-9">

            {% include '_sub/_messages.twig' %}

            <section class="forums-container">
                <h3>{{ __('Forums') }}</h3>
                <div class="forums-list">
                    <table class="dashboardlisting table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ __('Forum') }}</th>
                                <th>{{ __('Description') }}</th>
                                <th>{{ __('State') }}</th>
                                <th align="center">{{ __('Topics') }}</th>
                                <th align="center">{{ __('Replies') }}</th>
                            </tr>
                        </thead>
                        <tbody class="forums-list-items">
                        {% for slug, forum in forums %}
                            <tr id="boltbb-forum[{{ slug }}]">
                                <td class="boltbb-forum-cb">
                                    <label>
                                        <input type="checkbox"
                                               id="form_forums_{{ loop.index0 }}"
                                               name="form[forums][]"
                                               value="{{ forum.name }}">
                                    </label>
                                </td>
                                <td class="boltbb-forum-name">{{ forum.name }}</td>
                                <td class="boltbb-forum-desc">{{ forum.description }}</td>
                                <td class="boltbb-forum-state">{{ forum.state }}</td>
                                <td class="boltbb-forum-topics" align="center">{{ forum.topics }}</td>
                                <td class="boltbb-forum-replies" align="center">{{ forum.replies }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <hr />
        </div>

        <aside class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-cog fa-fw"></i>Admin Options</div>
                <div class="panel-body">

                    {% if needsync or needtypes %}
                        <h4><strong>{{ __('Forum Setup') }}</strong></h4>

                        {% if needsync %}
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-tertiary" data-action="boltbb-forum-sync">
                                    <i class="fa fa-wrench"></i> {{ __('Sync Table') }}
                                </a>
                            </div>
                        </div>
                        {% endif %}

                        {% if needtypes %}
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-tertiary" data-action="boltbb-forum-contenttypes">
                                    <i class="fa fa-wrench"></i> {{ __('Setup Contenttypes') }}
                                </a>
                            </div>
                        </div>
                        {% endif %}

                        <hr>
                    {% endif %}

                        <h4><strong>{{ __('Forum Maintenance') }}</strong></h4>
                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-tertiary" data-action="boltbb-forum-open">
                                    <i class="fa fa-refresh"></i> {{ __('Open Selected Forums') }}
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-tertiary" data-action="boltbb-forum-close">
                                    <i class="fa fa-refresh"></i> {{ __('Close Selected Forums') }}
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </aside>

    </div>

    <script>
        //var site = '{{site}}';
        var baseurl = "{{paths.bolt}}extensions/boltbb";

        var active_console;
        var active_interval;

        jQuery(document).ready(function($) {
            var boltExt = new BoltBBAdmin();
            boltExt.setMessage('repair', '{{__('Repairing forums database table...')}}' );
            boltExt.setMessage('open',   '{{__('Opening selected forums...')}}');
            boltExt.setMessage('close',  '{{__('Closing selected forums...')}}');
        });
    </script>

{% endblock page_main %}
