{% extends twigparent %}

{% block forums %}

    {% include '_messages.twig' %}

    {% setcontent pinnedglobal = contenttypes.topics where { state: 'pinned-global' } orderby '-datecreated' %}
    {% setcontent pinned       = contenttypes.topics where { forum: forum.id, state: 'pinned' } orderby '-datecreated' %}
    {% setcontent normal       = contenttypes.topics where { forum: forum.id, state: 'open || closed' } limit pagercount orderby '-datecreated' allowpaging %}
    {% set topics = pinnedglobal|merge(pinned) %}
    {% set topics = topics|merge(normal) %}

    <div class="row forum-title">
        <div class="small-12 columns">
            <h4>{{ forum.title }} Forum</h4>
            <h6>{{ forum.description }}</h6>
        </div>

        <div class="small-12 columns">
            {{ forumsbreadcrumbs(forum.id) }}
        </div>
    </div>

    <div class="row forum">
        <div class="small-12 columns">

            <div class="row forum-header">
                <div class="small-6 columns topic-title">Topic</div>
                <div class="small-2 columns topic-replies">Replies</div>
                <div class="small-4 columns topic-last-post">Last Post</div>
            </div>

            {% for topic in topics %}
            {# Topic #}
            <div class="row topic {{ topic.state }}" id="topic-{{ topic.forum }}-{{ topic.id }}">

                    <div class="small-6 columns topic-title">
                        <p><a href="/{{ boltbb.base_uri }}/{{ forum.slug }}/{{ topic.slug }}">{{ topic.title }}</a></p>
                        {% set author = clientprofile(topic.author) %}
                        <div>Posted by {{ author.username }}</div>
                        <div>{{ topic.datecreated|date('M j, Y H:i:s') }}</div>
                    </div>

                    <div class="small-2 columns topic-replies">
                        {{ topicreplycount(forum.id, topic.id) }}
                    </div>

                    <div class="small-4 columns topic-last-post">
                        {% setcontent lastpost = contenttypes.topics where { topic: topic.id } orderby '-datecreated' returnsingle %}
                        {% if lastpost is not empty %}
                            <div>{{ lastpost.datecreated|date('M j, Y H:i:s') }}</div>

                            {% set author = clientprofile(lastpost.author) %}
                            {% if author is not empty %}
                                <div><img src="{{ author.avatar }}" alt="{{ author.username }}" class="avatar">&nbsp;{{ author.username }}</div>
                            {% endif %}
                        {% endif %}
                    </div>

            </div>

            {# Topic footer #}
            <div class="row topic-footer">
                <div class="small-12 columns"></div>
            </div>
            {% endfor %}

            <hr>
            {{ pager() }}
            <hr>

        </div>
    </div>

    <div class="panel callout">
        <h4>Create a new topic in {{ forum.title }}</h4>

        {% if hasauth() %}
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.editor) }}
                {{ form_row(form.author, {value : visitor.id}) }}
                <br>
                {{ form_row(form.post) }}
            {{ form_end(form) }}
        {% else %}
            {{ displayauth(true) }}
        {% endif %}
    </div>

{% endblock %}