{% extends twigparent %}

{% block forums %}

    {% include '_messages.twig' %}

    {% setcontent replies = contenttypes.replies where { forum: forum.id, topic: topic.id } limit pagercount orderby 'datecreated' allowpaging %}

    <div class="row topic-title">
        <div class="small-12 columns">
            <h4>{{ topic.title }}</h4>
        </div>

        <div class="small-12 columns">
            {{ forumsbreadcrumbs(forum.id) }}
        </div>
    </div>

    {# Only show the topic text if we're on the first page #}
    {% if (request('page') == 1) or (request('page') is empty) %}
    {# Topic #}
    <div class="row topic" id="topic-{{ forum.id }}-{{ topic.id }}">
        <div class="small-12 columns">

            {# Topic Header #}
            <div class="row topic-header">
                <div class="small-12 columns">
                    <div>Posted on {{ topic.datecreated|date('M j, Y H:i:s') }}</div>
                </div>
            </div>

            {# Topic content #}
            <div class="row topic-body">
                <div class="small-3 columns author">
                    {% set author = clientprofile(topic.author) %}
                    {% if author is not empty %}
                    <div class="small-12 columns"><img src="{{ author.avatar }}" alt="{{ author.username }}" class="avatar"></div>
                    <div class="small-12 columns">{{ author.username }}</div>
                    {% endif %}
                    <div class="small-12 columns">{{ topic.authorip }}</div>
                </div>

                <div class="small-9 columns body">
                    <div>{{ topic.body }}</div>
                </div>
            </div>

            {# Topic footer #}
            <div class="row topic-footer">
                <div class="small-12 columns"></div>
            </div>

        </div>
    </div>

    {% endif %}

    {# Replies #}
    {% for reply in replies %}
    <div class="row reply" id="reply-{{ forum.id }}-{{ topic.id }}-{{ reply['id'] }}">
        <div class="small-12 columns">

            {# Reply Header #}
            <div class="row reply-header">
                <div class="small-12 columns">
                    <div>Posted on {{ reply.datecreated|date('M j, Y H:i:s') }}</div>
                </div>
            </div>

            {# Reply content #}
            <div class="row reply-body">
                <div class="small-3 columns author">
                    {% set author = clientprofile(reply.author) %}
                    {% if author is not empty %}
                    <div class="small-12 columns"><img src="{{ author.avatar }}" alt="{{ author.username }}" class="avatar"></div>
                    <div class="small-12 columns">{{ author.username }}</div>
                    {% endif %}
                    <div class="small-12 columns">{{ reply.authorip }}</div>
                </div>

                <div class="small-9 columns body">
                    <div>{{ reply.body }}</div>
                </div>
            </div>

            {# Reply footer #}
            <div class="row reply-footer">
                <div class="small-12 columns"></div>
            </div>
        </div>
    </div>
    {% endfor %}

    <hr>
    {{ pager() }}
    <hr>

    <div class="panel callout">
        <h4>Create a new reply</h4>

        {% if hasauth() %}
            {{ form_start(form) }}
                {{ form_row(form.editor) }}
                {{ form_row(form.author, {value : visitor.id}) }}
                <br>
                {{ form_widget(form.notify) }}
                {{ form_label(form.notify) }}
                <br>
                {{ form_row(form.post) }}
            {{ form_end(form) }}
        {% else %}
            {{ displayauth(true) }}
        {% endif %}
    </div>

    <hr>

{% endblock %}